<section *ngIf="!isGameOver; else elseBlock">
  <section *ngIf="hasGameStarted; else nestedElseBlock">
    <app-quiz-question
      [question]="questions[currentQuestion]"
      [currentQuestionIndex]="currentQuestion"
      [totalAmountOfQuestions]="questions.length"
      [quizId]="quizId"
      (gradeAnswer)="gradeAnswer($event)"
    ></app-quiz-question>
  </section>
  <ng-template #nestedElseBlock><p>Game not started</p></ng-template>
</section>
<ng-template #elseBlock
  ><p>SCORE {{ getScore() * 100 }}%</p>
  <ul>
    <li *ngFor="let grade of quizGrades">
      <h5 class="text-lg font-semibold">{{ grade.question.question}}</h5>
      <p>
        <ng-container *ngIf="grade.isCorrect; else gradeResultBlock">Correct</ng-container>
        <ng-template #gradeResultBlock>Incorrect</ng-template>
      </p>
    </li>
  </ul>
  </ng-template
>
