<section *ngIf="!isGameOver; else elseBlock">
  <app-error-alert *ngIf="error" [error]="error"></app-error-alert>
  <section *ngIf="hasGameStarted; else nestedElseBlock">
    <header class="flex flex-col gap-5 p-5">
      <h6 class="text-xl font-semibold">
        Question {{ calculateCurrentQuestion()
        }}<span class="text-base font-light"
          >/{{ calculateTotalQuestions() }}</span
        >
      </h6>
    </header>
    <app-quiz-question
      *ngIf="currentQuestion"
      [question]="currentQuestion"
      [correctAnswer]="correctAnswer"
      [incorrectAnswer]="incorrectAnswer"
      (gradeAnswer)="gradeAnswer($event)"
    >
    </app-quiz-question>
  </section>
  <ng-template #nestedElseBlock>
    <div class="flex justify-center items-center p-5">
      <app-quiz-countdown
        [seconds]="0"
        (onZero)="startGame()"
      ></app-quiz-countdown>
    </div>
  </ng-template>
</section>
<ng-template #elseBlock>
  <p>Game over</p>
</ng-template>
