<section class="flex flex-col gap-5">
  <app-error-alert [error]="error" *ngIf="error"></app-error-alert>
  <nav>
    <ul></ul>
  </nav>
  <section
    *ngIf="loadingService.isLoading$ | async; else isNotLoading"
    class="p-5 flex justify-center items-center"
  >
    <app-loading></app-loading>
  </section>
  <ng-template #isNotLoading>
    <section>
      <ul
        class="flex flex-col gap-5"
        *ngIf="quizes.length > 0; else noQuizAvailable"
      >
        <li *ngFor="let quiz of quizes">
          <div class="border rounded border-slate-700 p-5 flex flex-col gap-5">
            <div>
              <h4 class="text-lg font-semibold">{{ quiz.prompt }}</h4>
            </div>
            <ul class="flex block">
              <li>
                <a
                  [routerLink]="'/quiz/' + quiz.id"
                  class="border block rounded p-3 border-slate-700 duration-200 ease-out hover:bg-slate-800 active:bg-slate-700"
                  >Go to Quiz</a
                >
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <ng-template #noQuizAvailable>
        <p class="py-5 text-lg font-semibold">No quizes available</p>
      </ng-template>
    </section>
  </ng-template>

  <div>
    <ul class="flex justify-between items-center">
      <li class="relative">
        <button
          class="bg-slate-800 p-2 rounded hover:bg-slate-700 active:bg-slate-600 duration-200 ease-in disabled:bg-slate-800 disabled:cursor-not-allowed"
          (click)="toggleSizeDropdown()"
        >
          {{ size }} / page <i class="ml-1 fa-solid fa-chevron-down"></i>
        </button>
        <ul
          *ngIf="isSizeDropdownOpen"
          class="absolute top-[110%] left-[0%] bg-slate-800 rounded p-1.5 flex flex-col gap-1.5"
          (clickOutside)="closeSizeDropdown()"
        >
          <li>
            <button
              class="flex px-2.5 py-1.5 w-32 rounded hover:bg-slate-700 active:bg-slate-600 duration-200 ease-out"
              (click)="changeSize(20)"
            >
              20 / page
              <span *ngIf="size === 20" class="ml-auto"
                ><i class="fa-solid fa-check text-purple-300"></i
              ></span>
            </button>
          </li>
          <li>
            <button
              class="flex px-2.5 py-1.5 w-32 rounded hover:bg-slate-700 active:bg-slate-600 duration-200 ease-out"
              (click)="changeSize(50)"
            >
              50 / page<span *ngIf="size === 50" class="ml-auto"
                ><i class="fa-solid fa-check text-purple-300"></i
              ></span>
            </button>
          </li>
          <li>
            <button
              class="flex px-2.5 py-1.5 w-32 rounded hover:bg-slate-700 active:bg-slate-600 duration-200 ease-out"
              (click)="changeSize(100)"
            >
              100 / page<span *ngIf="size === 100" class="ml-auto"
                ><i class="fa-solid fa-check text-purple-300"></i
              ></span>
            </button>
          </li>
        </ul>
      </li>
      <li>
        <ul class="flex gap-2 h-full">
          <li>
            <button
              class="bg-slate-700 px-2.5 py-1.5 h-full rounded hover:bg-slate-700 active:bg-slate-600 duration-200 ease-in disabled:bg-slate-800 disabled:cursor-not-allowed"
              (click)="changePage(page - 1)"
              [disabled]="page <= 1"
            >
              <i class="ml-1 fa-solid fa-chevron-left"></i>
            </button>
          </li>
          <li>
            <button
              class="bg-slate-800 px-2.5 py-1.5 h-full rounded hover:bg-slate-700 active:bg-slate-600 duration-200 ease-in disabled:bg-slate-700 disabled:cursor-not-allowed"
              [disabled]="true"
            >
              {{ page }}
            </button>
          </li>
          <li>
            <button
              class="bg-slate-700 px-2.5 py-1.5 h-full rounded hover:bg-slate-700 active:bg-slate-600 duration-200 ease-in disabled:bg-slate-800 disabled:cursor-not-allowed"
              (click)="changePage(page + 1)"
              [disabled]="page >= totalPages"
            >
              <i class="ml-1 fa-solid fa-chevron-right"></i>
            </button>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
